---
title: Darrell's House Map
layout: _regular_page.njk
metadata:
  title: Darrell's House Map
  og_image: /images/main-og.png
noindex:
sitemap:
gmApiKey: AIzaSyBFEPMV0tsGi4ZoIEKGDUz8dZyBtvl_Am0
---

{%- from "_njk_components/components.njk" import component -%} {# Import all
components optional: ignore missing #} {% markersToScriptTag houses %}
<style>
  .speech-bubble {
    position: relative;
    border-radius: 0.4em;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.781em solid transparent;
    border-top-color: rgb(30 64 175);
    border-bottom: 0;
    margin-left: -0.781em;
    margin-bottom: -0.781em;
  }
</style>
<section class="flex flex-col h-screen">
  <div class="flex justify-center gap-12 p-2 items center">
    <input
      id="pac-input"
      class="w-1/3 px-4 border border-gray-300 rounded-md"
      type="text"
      placeholder="Search Map"
    />
  </div>
  <div id="map" class="flex items-center justify-center flex-grow bg-green-400">
    this content is not centered on screen
  </div>
</section>
{#
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
#}
<script
  src="https://maps.googleapis.com/maps/api/js?key={{
    gmApiKey
  }}&v=beta&libraries=marker,places&callback=initMap&"
  defer
></script>
