---
title: Darrell's House Map
layout: _regular_page.njk
metadata:
  title: Darrell's House Map
  og_image: /images/main-og.png
noindex:
sitemap:
gmApiKey: AIzaSyBFEPMV0tsGi4ZoIEKGDUz8dZyBtvl_Am0
---

{%- from "_njk_components/components.njk" import component -%} {# Import all
components optional: ignore missing #} {% markersToScriptTag houses %}
<script>
  var ua = window.navigator.userAgent;
  var iOS = !!ua.match(/iPad/i) || !!ua.match(/iPhone/i);
  let farFuture = new Date("01/01/2029").toISOString();
  // console.log(`[ iOS ]:`, iOS);
</script>
<style>
  .speech-bubble {
    position: relative;
    border-radius: 0.4em;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.781em solid transparent;

    border-bottom: 0;
    margin-left: -0.781em;
    margin-bottom: -0.781em;
  }

  .speech-bubble-blue:after {
    border-top-color: rgb(30 64 175);
  }

  .speech-bubble-gray:after {
    border-top-color: rgb(209 213 219);
  }

  .custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px #0000004d;
    cursor: pointer;
    font: 400 18px Roboto, Arial, sans-serif;
    height: 40px;
    margin: 10px;
    overflow: hidden;
    padding: 0 0.5em;
  }

  .custom-map-control-button:hover {
    background: #ebebeb;
  }
</style>
<section class="flex flex-col h-screen">
  <div class="flex justify-center gap-12 p-2 items center">
    <input
      id="map-search-box"
      class="w-full px-4 border border-gray-300 rounded-md lg:w-1/2"
      type="text"
      placeholder="Search Map"
    />

    <button
      type="submit"
      id="rebuild-site"
      class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"
    >
      <span> Get latest data </span>
    </button>
    <script>
      document
        .getElementById("rebuild-site")
        .addEventListener("click", function () {
          fetch(
            "https://api.netlify.com/build_hooks/63ce5da23d29573be9813b94",
            {
              method: "POST",
            }
          ).then(function (response) {
            console.log(response);
          });
        });
    </script>
  </div>
  <div id="map" class="flex items-center justify-center flex-grow">
    Loading map...(or something has gone badly wrong)
  </div>
</section>
{#
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
#}
<script
  src="https://maps.googleapis.com/maps/api/js?key={{
    gmApiKey
  }}&v=beta&libraries=marker,places&callback=initMap&"
  defer
></script>
